:root {
  --persian-green: #00a49c;
  --icterine: #f6fb7e;
  --light-gray: #373737;
  --gray: #202020;
  --dark-gray: #171717;
  --white-font: #f0f0f0;

  --nav-bar-height: 60px;
}

@font-face {
  font-family: Consolas;
  src: url(./assets/fonts/consolas.ttf);
}

* {
  padding: 0;
  margin: 0;
  font-family: Consolas;
  color: var(--white-font);
}

a {
  color: inherit;
  text-decoration: none;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  border-bottom: var(--light-gray) 2px solid;
  background-color: var(--gray);
  z-index: 100;
}

.navbar__logo-link {
  height: 100%;
}

.navbar__logo {
  margin: 5% 15%;
  height: 90%;
}

.navbar__contents-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  height: var(--nav-bar-height);
  font-size: large;
}

.navbar__link-list {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.navbar__link {
  padding: 0 10px;
}

.navbar__link :hover {
  color: var(--persian-green);
}

.welcome {
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-start;
  background: linear-gradient(
    45deg,
    #00a49c,
    #f6fb7e,
    #00a49c,
    #f6fb7e,
    #00a49c
  );
  background-size: 5000px 5000px;
  animation: gradient-animation 3s linear infinite;
}

@keyframes gradient-animation {
  to {
    background-position: 5000px 0;
  }
}

.welcome__logo {
  width: 100%;
  height: 100%;
  min-width: 325px;
  min-height: 325px;
  margin-top: 110px;
  background-color: var(--dark-gray);
  mask: url(./assets/icons/Logo\ IAUPO\ Cuadrado\ Consolas\ Font\ Independiente\ NO\ FILL.svg)
      center/contain no-repeat,
    linear-gradient(#000 0 0);
  mask-composite: exclude;

  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

.welcome__subtitle {
  padding-top: 2.5%;
  padding-bottom: 3%;
  margin-bottom: 3%;
  font-size: 3rem;
  text-align: center;
  color: var(--white-font);
  background-color: var(--dark-gray);
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.emphasis {
  color: transparent;
  background: linear-gradient(45deg, var(--persian-green), var(--icterine));
  background-clip: text;
}

.welcome__content {
  width: 70%;
}

.about {
  background-color: var(--dark-gray);
  border-top: var(--light-gray) 3px solid;
  padding: 0 15%;
}

.about__header {
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
}

.about__p {
  font-size: 1.2rem;
  padding-bottom: 30px;
}

.main-footer {
  display: flex;
  flex-direction: column;
  width: 70%;
  background-color: var(--gray);
  padding: 0 15%;
  padding-bottom: 2.5%;
}

.main-footer__section {
  padding-top: 2%;
}

.main-footer__email-link {
  text-decoration: underline;
}

.main-footer__email-link:hover {
  color: var(--persian-green);
}

.main-footer__separator {
  height: 2px;
  width: 100%;
  background-color: var(--light-gray);
  border: none;
  margin: 4% 0;
}

@media only screen and (max-width: 1000px) {
  .welcome {
    background-color: red;
  }

  .welcome__content {
    width: 100%;
  }

  .welcome__logo {
    margin-top: var(--nav-bar-height);
    border-radius: 0;
  }

  .welcome__subtitle {
    border-radius: 0;
    margin-bottom: 0;
    padding-top: 5%;
    padding-bottom: 10%;
    font-size: 2.5rem;
  }

  .about {
    padding: 0 5%;
  }

  .main-footer {
    width: 90%;
    padding: 0 5%;
    padding-bottom: 5%;
  }

  .main-footer__section {
    padding-top: 4%;
  }
}
