:root {
  --persian-green: #00a49cff;
  --icterine: #f6fb7eff;
  --oxford-blue: #0a2239ff;
  --coyote: #82735cff;
  --alice-blue: #e9f1f7ff;
}

* {
  padding: 0;
  margin: 0;
  font-family: Consolas, monaco, monospace;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  color: var(--oxford-blue);
}

.navbar__contents-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  background-color: var(--alice-blue);
}

.navbar__logo {
  margin: 0 10px;
}

.navbar__link-list {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.navbar__link {
  background-color: blue;
  margin: 0 10px;
}

.main-contents__welcome {
  width: 100%;
  height: 100vh;
}

.main-footer {
  width: 100%;
  height: 70px;
  background-color: #ddd;
}
